<div style="display: flex;width: 100vw;justify-content: center;justify-items: center;">

  <button class="btn btn-primary" (click)="open(content)" >open camera</button>

</div>

<ng-template style="width: 1000px" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Capture image</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!webcamImage" >      <webcam [height]="400"
                                             [width]="400"
                                             [trigger]="triggerObservable"
                                             (imageCapture)="handleImage($event)">
    </webcam></div>
    <div class="row" *ngIf="base64Image">
      <div class="text-center col-md-6">
        <div class="row" style="margin-top: 15px;">
          <div class="text-center col-md-8"  *ngIf="imageChangedEvent">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                           [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)">
            </image-cropper>
          </div>
        </div>
      </div>
      <div class="text-center col-md-6">
        <h5>Preview</h5>
        <img [src]="croppedImage" />
        <button *ngIf="!isScanning" class="btn btn-primary" type="submit" (click)="scanOCR()">Scan</button>
      </div>
    </div>




    <button class="actionBtn" (click)="triggerSnapshot();">
      Click Here and take the Shot</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
